@import "style.css";


* {
    font-family: 'PuradakGentleGothicR';
}

.review_me {
    height: 150px;
    margin: 20px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review_me .review_me_title{
    margin: 0;
    font-size: 50px;
    font-family: 'PuradakGentleGothicR';
}
.review_card{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.review_view {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    line-height: 30px;
    font-size: 20px;
    font-family: 'GowunDodum-Regular';
}
.review_view .info_culture{
    margin-bottom: 20px;
}
.review_view .info_review{
    background-color: #f1f3f5;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.info_theater {
    width: 120px;
    text-align: center;
    padding: 18px 0;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}