@import "reset.css";
@import "nav.css";

/* 폰트 여기에 두고 골라써도 돼요 ! ㅋ*/
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* button{
  font-family: 'GowunDodum-Regular';
}

.contain{
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'PuradakGentleGothicR';
}

.perform_btn{
    margin-bottom: 10px;
}
.perform_btn button{
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}
#perform_box{
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.perform_card {
    width: 19%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.perform_card img {
    width: 100%;
}
.perform_card .card_info{
    padding: 5px;
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';

}
.search {
    background-color:#f1f3f5;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 40px auto;
}
#search_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.board{
    display: flex;
    justify-content: flex-start;
}
.board .board_mini {
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}
.card_btn{
    margin-top: 10px;
    padding: 5px 0;
    box-sizing: border-box;
}

