<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>THEATER</title>
    <!-- jQuery를 import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <!-- Bootstrap JavaScript Latest compiled and minified-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- jQuery library (min, slim은 안되는 부분이 있다) -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- jquery cookie-delete import-->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="../static/css/detail.css">
    <!-- fontawesome icon import-->
    <script src="https://kit.fontawesome.com/6a99101cff.js" crossorigin="anonymous"></script>
    <script>
        function log_out() {
            $.removeCookie('mytoken');
            alert('로그아웃 했습니다.')
            window.location.href = '/login'
        }
        $(document).ready(function () {
            reviewShow({{ theater.theater_id }});
            {#reviewShow();#}
        });

    </script>
</head>
<body>
<nav>
<nav>
    <div class="contain">
        <a href="/">THEATER</a>
        <div class="nav_userbar">
            <button onclick="go_mypage('{{ user_info.id }}')" class="nav_username">{{ user_info.id }} 마이페이지</button>
            <button onclick="log_out()">로그아웃</button>
        </div>
    </div>
</nav>

</nav>

<div class="contain">
    <div class="culture_today">
        <h2 class="culture_title">내가 선택한<br>오늘의 관심 있는 공연</h2>
    </div>
    <div class="culture_card">
        <div class="culture_box">
            <div class="culture_img"><img src={{ theater.MAIN_IMG }}></div>
            <div class="culture_info">
                <p><span>공연 명</span> : {{ theater.TITLE }}</p>
                <p><span>공연 일정</span> : {{ theater.DATE }}</p>
                <p><span>공연 장소</span> : {{ theater.PLACE }}</p>
                <p><span>PROGRAM</span> : {{ theater.PROGRAM }}</p>
                <button><a href="{{ theater.ORG_LINK }}">관련 페이지로 이동</a></button>
            </div>
        </div>
        <div class="culture_review_input">
            <textarea id="review_text" placeholder="후기를 작성해주세요"></textarea>
            <button onclick="reviewSave({{ theater.theater_id }})">저장</button>
        </div>
        <div id="culture_review_show">
{#            <div class="review_card">#}
{#                <div class="review_view">#}
{#                    <p class="review_view_id">아이디입니다</p>#}
{#                    <p class="review_view_text">내용내용냉욘내용</p>#}
{#                </div>#}
{#                <button onclick="reviewDel(id)">삭제</button>#}
{#            </div>#}
        </div>
        </div>
    </div>


</div>
<footer>
    <div class="footer-box">
<div class="footer-minibox">
    <p class="footer-tit">으라차차 개발자도전하다</p>
    <div class="footer-icon">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fas fa-comment-dots"></i>
        <i class="fab fa-amilia"></i>
    </div>
</div>
<p class="footer-person">
    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">개발자 정보 보기<i class="fas fa-chevron-down"></i>
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body footer-content">
        <div class="footer-text">
            <p class="name">정소영</p>
            <p class="hobby">frontend - React.js </p>
            <a class="blog" href="https://thdud4479.tistory.com/" target="_blank">블로그</a>
        </div>
        <div class="footer-text">
            <p class="name">김소라</p>
            <p class="hobby">backend - JAVA</p>
            <a class="blog" href="https://velog.io/@rara_kim" target="_blank">블로그</a>
        </div>
        <div class="footer-text">
            <p class="name">권성현</p>
            <p class="hobby">backend - JAVA</p>
            <a class="blog" href="https://velog.io/@maestroks/" target="_blank">블로그</a>
        </div>
        <div class="footer-text">
            <p class="name">김수예</p>
            <p class="hobby">backend - JAVA</p>
            <a class="blog" href="https://velog.io/@mes23" target="_blank">블로그</a>
        </div>
    </div>
</div>
<p class="copyright">Copyright © 2022 으라차차 개발공부 <i class="fas fa-dove"></i> All Rights Reserved.</p>
</div>
</footer>
<script src="../static/js/detail.js"></script>
<script src="../static/js/mypage.js"></script>

</body>
</html>