<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>💫Theater</title>
    <script defer src="/static/js/login.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
        .title {
            font-size: 80px;
        }
        
        .text {
            color: red;
            font-size: 40px;
        }
    </style>
</head>

<body>
<!-- 개발단계 로그인 성공 테스트용 -->
<h1 class="title">Theater</h1>
<p class="text">로그인 성공!!!</p>
<button class="logout-button" onclick="log_out()">로그아웃</button>
</body>
</html>